/* ==========================================================================
   Common grid layout
   ========================================================================== */

.page {
    min-height: 100vh;
    .post {
       display: none;
    }
    @media (min-width: $screen-m) {
        display: grid;
        grid-template-columns: 1fr 1fr 0px;
        grid-template-rows: auto;

        grid-template-areas:
            "header  header  post"
            "meetings meetings post"
            "footer footer post";

        .post {
           display: block;
        }
    }

    &.has-post {
        .post {
            display: block;
        }
        @media (min-width: $screen-m) {
            grid-template-columns: 1fr 1fr 1.5fr;
        }
    }
}

.header,
.meetings,
.post-main,
.footer {
    @extend .wrapper-content;
}

.meetings,
.footer {
    @media (min-width: $screen-m) {
        padding-left: 165px !important;
    }
}

.header {
    grid-area: header;
}

.meetings {
    grid-area: meetings;
}

.post {
    grid-area: post;
    @media (min-width: $screen-m) {
        min-height: 100%;
        .post-main{
            height: 100vh;
            overflow-y: auto;
        }
    }
}

.footer {
    grid-area: footer;
}
