/* ==========================================================================
   Common grid layout
   ========================================================================== */

.header,
.meetings,
.detail-content,
.footer {
    @extend .wrapper-content;
}

.meetings,
.footer {
    @media (min-width: $screen-m) {
        padding-left: 165px !important;
    }
}

.page {
    .detail {
       display: none;
    }
    @media (min-width: $screen-m) {
        display: grid;
        grid-template-columns: 1fr 1fr 0px;

        grid-template-areas:
            "header  header  detail"
            "meetings meetings detail"
            "footer footer detail";

        .detail {
           display: block;
        }
    }

    &.has-post {
        .detail {
            display: block;
        }
        @media (min-width: $screen-m) {
            grid-template-columns: 1fr 1fr 1.5fr;
        }
    }
}

.header {
    grid-area: header;
}

.meetings {
    grid-area: meetings;
}

.detail {
    grid-area: detail;
    overflow: hidden;
    position: relative;
    &:before {
        animation: meetinganimation .5s 1 forwards;
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-corp;
    }
    @media (min-width: $screen-m) {
        min-height: 100%;
        .detail-content{
            height: 100vh;
            overflow-y: auto;
        }
    }
}

.detail-content {
        animation: meetincontent .75s ease-in;

}



@-webkit-keyframes meetinganimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes meetincontent {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
    grid-area: footer;
}
