<section class="meetings">
    <header>
        <h2>Meetings</h2>
        <p class="meetings-next">
            <span>Siguiente:</span>
            <span>viernes 2 de marzo 2018</span> <a href="{{ site.baseurl }}{% post_url 2018-02-23-call-for-people-cowlab-3  %}">Más información</a>
        </p>
    </header>

    <ul class="meetings-list">
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url | relative_url }}">
                <span>{{ post.tag | escape }}</span>
                {% assign date_format = site.minima.date_format | default: "%-d/%m/%Y" %}
                {{ post.date | date: date_format }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <a class="subscribe" href="{{ "/feed.xml" | relative_url }}">RSS</a>
</section>
