<div class="post">
    <a class="post-close" href="{{ "/" | relative_url }}"><span>Cerrar</span></a>
    <article class="post-main" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h2 itemprop="name headline">{{ page.tag | escape }}</h2>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%-d/%m/%Y"%}
                {{ page.date | date: date_format }}
              </time>
        </header>

        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>

        {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
        {% endif %}
    </article>
</div>
