/* ==========================================================================
   Common styles
   ========================================================================== */

body {
    background-color: @color-corp;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .015em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header,
.meetings,
.detail,
.footer {
    position: relative;
}
