/*p { text-align: left; }*/
code { color: #df9c9a; }

.green { color: #2e9538 !important; }
.red { color: #ff2c2d !important;  }
.white { color: #ffffff !important;  }
.black { color: #000000 !important;  }
.grey { color: #dedede !important;  }


