/* ==========================================================================
   Errors
   ========================================================================== */

/* common errors. 404 */
.error {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    h1 {
        margin: 0;
    }
    p {
        margin: 0.25em 0;
    }
}
