/* ==========================================================================
   Home template
   ========================================================================== */

/* Back svg
   ========================================================================== */
#back-shape {
    fill: $color-corp-dark;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    //width: 100%;
}
#back-shape-2 {
    fill: rgba($color-corp-light, .1);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    //width: 100%;
}

/* Meetings
   ========================================================================== */
.meetings {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    h2 {
        color: $color-corp-light;
        //.font-size(40);
        @include font-size(40);
        margin-bottom: 0.55em;
        &:after {
            display: block;
            width: 100%;
            height: 2px;
            content: "";
            background-color: $color-corp-light;
            margin-top: .25em;
        }
    }
}

.meetings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: $screen-s) {
        justify-content: flex-start;
    }
    li {
        width: 48%;
        margin-bottom: 1em;
        color: $color-corp-light;
        //.font-size(14);
        @include font-size(14);
        @media (min-width: $screen-s) {
            width: 25%;
        }
        span {
            display: block;
            //.font-size(40);
            @include font-size(40);
            font-weight: 700;
            color: white;
            margin: 0;
        }
        /* state for the next meeting */
        &.is-next {
            a, span {
                cursor: default;
                color: $color-corp-alt;
            }
        }
        &.is-active {
            &:after {
                position: relative;
                display: block;
                width: 100%;
                height: 4px;
                content: "";
                background-color: white;
                margin-top: .5em;
                @media (min-width: $screen-s) {
                    max-width: 80%;
                }
            }
        }
    }
    a {
        color: $color-corp-light;
        display: block;
        &:hover {
            span {
                color: $color-corp-alt;
            }
        }
    }
}

.subscribe {
    display: inline-block;
    background-color: $color-corp-alt;
    color: white;
    border-radius: 4px;
    padding: .5em 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;

    @include font-size(13);
    line-height: 1em;
    &:hover {
        background-color: $color-corp-dark;
    }
}


/* Detail content
   ========================================================================== */

.detail {
    background-color: $color-main-light;
    color: $color-corp-dark;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 1.5em;
    }
    li {
        margin-bottom: .5em;
        &:before {
            content: "▶";
            margin-right: .75em;
            //.font-size(9);
            @include font-size(9);
            color: $color-main-dark;
        }
    }
    a {
        color: $color-corp-alt;
        &:hover {
            color: $color-main;
        }
    }
}

.detail-close {
    position: absolute;
    right: 1em;
    top: 1em;
    text-decoration: none;
    span {
        display: none;
    }
    &:before {
        content: "×";
        font-weight: 700;
        //.font-size(32);
        @include font-size(32);
        line-height: 0;
    }
    &:hover {
        color: $color-main;
    }
}

.detail-content {
    padding-top: 2em;
    header {
        margin-bottom: 1em;
        border-bottom: 1px solid $color-main-medium;
        padding-bottom: .5em;
        h2 {
            @include font-size(70);
            margin: 0em;
            color: $color-corp-dark;
        }
        time {
            @include font-size(14);
            color: $color-main-medium;
        }
    }
}

.detail-content-format {
    padding-bottom: 3em;
    h1, h2, h3, h4, h5, h6 {
        color: $color-corp;
        margin-bottom: .15em;
        +p,
        +ul {
            margin-top: 0;
            line-height: 1.45em;
        }
    }
    h1 {
        @include font-size(26);
    }
    h2 {
        color: $color-corp-dark;
        @include font-size(21);
    }

    h3, h4, h5, h6 {
        color: $color-corp-dark;
        @include font-size(18);
    }
    p {
        color: $color-main-dark;
    }
    ul {
        @include font-size(14);
    }
    img {
        width: 100%;
        height: auto;
    }
}

.detail-content-title {
    display: block;
    margin-bottom: .25em;
    color: $color-corp;
}
