/* ==========================================================================
   Common styles
   ========================================================================== */

body {
    background-color: $color-corp;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .015em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header,
.meetings,
.post,
.footer {
    position: relative;
}

/* Back svg
   ========================================================================== */
#back-shape {
    fill: $color-corp-dark;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}
#back-shape-2 {
    fill: rgba($color-corp-light, .1);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}

